<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Новость</title>
</head>
<body>
    <h2> {{ new.title }} </h2>
    <p> Здравствуй, {{ recipient }}. Появились новые объявления за неделю:{% for post in posts %}
    <p><a href="{{ 'http://127.0.0.1:8000'|add:post.get_absolute_url }}"> {{post.title}} </a> </p>
        {% autoescape on %}
    <p>  {{ post.body|linebreaks|truncatewords:50 }} </p>
       {% endautoescape %}
    <p><i> Опубликовано: {{ post.created|date:'d M Y'}} {{ post.creation_date|time:'G:i:s' }} | Автор: {{ post.author.author }} | Категория: {{ post.cat }}  </i> </p>
    <br>
    {% endfor %}
</body>
</html>